In [1]:
import os
import pandas as pd

In [3]:
#create heart rate data frame by reading in the csv provided.

hrdf = pd.read_csv('data/s1_laps_summary.csv')
hrdf.head()

,event_id,timestamp,heart_rate,time_elapsed,total_running_time,altitude,distance,speed,cadence,start_time,...,total_time_spent_running_past_10800_to_14400_seconds,avg_temp,avg_temp2,avg_temp_mean,avg_lat,avg_long,avg_alt,avg_hr,total_dist,avg_temp_mode
0,1,2017-09-21T21:25:38Z,143.0,486.0,436.0,182.4,1.61317,13.2336,80.0,2017-09-21 21:17:32,...,0.0,NaN,NaN,NaN,41.966027,-87.646939,178.671811,145.828346,4.83519,NaN
1,1,2017-09-21T21:32:15Z,154.0,883.0,833.0,175.8,3.21954,14.3424,81.0,2017-09-21 21:25:39,...,0.0,NaN,NaN,NaN,41.966027,-87.646939,178.671811,145.828346,4.83519,NaN
2,1,2017-09-21T21:39:29Z,156.0,1317.0,1267.0,199.0,4.83101,12.9996,81.0,2017-09-21 21:32:16,...,0.0,NaN,NaN,NaN,41.966027,-87.646939,178.671811,145.828346,4.83519,NaN
3,2,2017-09-22T17:37:07Z,143.0,460.0,448.0,178.2,1.61227,14.5800,82.0,2017-09-22 17:29:27,...,0.0,NaN,NaN,NaN,41.975176,-87.650256,192.049602,155.442131,5.98351,NaN
4,2,2017-09-22T17:44:18Z,155.0,891.0,879.0,187.0,3.22219,13.2012,82.0,2017-09-22 17:37:08,...,0.0,NaN,NaN,NaN,41.975176,-87.650256,192.049602,155.442131,5.98351,NaN

In [11]:
#identify the columns with missing values
nodata = hrdf.count()
nodata

event_id              4615
timestamp             4599
heart_rate            4541
time_elapsed          4599
total_running_time    4599
                      ...
avg_long              4599
avg_alt               4599
avg_hr                4554
total_dist            4599
avg_temp_mode         4535
Length: 214, dtype: int64

In [13]:
#it looks like there are multiple event IDs for timestamp.  We will use timestamp (4599) 
#and drop missing values for avg hr, avg temperature so that we are only analzying data
#that contains complete data sets. This is important because running statisitial analysis
#on incomplete data (ie zeros) will bring down the average 

hrdf_clean = hrdf[["timestamp",'heart_rate', 'time_elapsed', 'total_running_time', 'avg_long', 'avg_alt', 'avg_hr', 'total_dist', 'avg_temp']]
hrdf_clean.head()

,timestamp,heart_rate,time_elapsed,total_running_time,avg_long,avg_alt,avg_hr,total_dist,avg_temp
0,2017-09-21T21:25:38Z,143.0,486.0,436.0,-87.646939,178.671811,145.828346,4.83519,NaN
1,2017-09-21T21:32:15Z,154.0,883.0,833.0,-87.646939,178.671811,145.828346,4.83519,NaN
2,2017-09-21T21:39:29Z,156.0,1317.0,1267.0,-87.646939,178.671811,145.828346,4.83519,NaN
3,2017-09-22T17:37:07Z,143.0,460.0,448.0,-87.650256,192.049602,155.442131,5.98351,NaN
4,2017-09-22T17:44:18Z,155.0,891.0,879.0,-87.650256,192.049602,155.442131,5.98351,NaN

In [ ]:
hrdf_